<h2>Configuração de limite de crédito</h2>
<% if @daily_credit_limit.errors.any? %>
  <div>
    <% @daily_credit_limit.errors.full_messages.each do |message| %>
      <p class="alert alert-danger mb-2 fs-6 fw-bolder list-unstyled"><%= message %></p>
    <% end %>
  </div>
<% end %>
<div class="p-3">
  <%= form_with(model: @daily_credit_limit, id: 'daily_credit_limit') do |f| %>
    <div class="row">
      <div class="form-group col-lg-2 p-0 mb-2">
        <%= f.label :value, class: 'form-label' %>
        <%= f.number_field :value, step: 0.01, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <%= f.submit 'Criar limite', class: 'btn btn-danger col-lg-2 mb-2' %>
    </div>
  <% end %>
  <div class="row">
    <%= link_to 'Voltar', daily_credit_limits_path, class: 'btn btn-danger col-lg-2' %>
  </div>
</div>
