<section class="d-flex flex-column min-vh-100">
  <div class="d-flex m-auto shadow-lg p-5 flex-column w-75">
    <h3 class="mb-3"><%= t('.sign_up') %></h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render 'devise/shared/error_messages', resource: resource %>
      <div class="row g-2 mb-2">
        <div class="col-lg-6 field form-floating">
          <%= f.text_field :cpf, autofocus: true, class: 'form-control', placeholder: '756362546352' %>
          <%= f.label :cpf %>
        </div>
        <div class="col-lg-6 field form-floating">
          <%= f.text_field :full_name, class: 'form-control', placeholder: 'Márcio Andrade Silva'  %>
          <%= f.label :full_name %>
        </div>
      </div>
      <div class="row g-2 mb-2">
        <div class="col-lg-12 field form-floating">
          <%= f.email_field :email, autocomplete: 'email', class: 'form-control', placeholder: 'joao@userubis.com.br' %>
          <%= f.label :email %>
        </div>
      </div>
      <div class="row g-2 mb-2">
        <div class="field form-floating col-lg-6">
          <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control', placeholder: '123456' %>
          <%= f.label :password %>
        </div>
        <div class="field form-floating col-lg-6">
          <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control', placeholder: '123456' %>
          <%= f.label :password_confirmation %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit t('.sign_up'), class: 'w-100 btn btn-lg btn-danger fw-bolder mt-2' %>
      </div>
    <% end %>
    <%= render 'devise/shared/links' %>
  </div>
</section>
