<div class="d-flex justify-content-between">
  <h2>Consultar Saldo de Clientes</h2>
  <div class="links gap-2">
    <%= link_to 'Voltar', root_path, class: 'btn btn-outline-danger ' %>
  </div>
</div>
<hr class="my-2">
<div class="p-3">
  <%= form_with(url: search_clients_path, method: :post) do |f| %>
    <div class="row">
      <div class="form-group col-lg-4 p-0 mb-2 form-floating">
        <%= f.text_field :registration_number, class: 'form-control', placeholder: ' ', required: true %>
        <%= f.label :registration_number, 'CPF/CNPJ', class: 'form-label' %>
      </div>
      <%= f.submit 'Consultar', class: 'btn btn-danger col-lg-2 mb-2' %>
    </div>
  <% end %>
</div>
<% if @flag_search %>
  <hr>
  <% if @client.present? %>
    <h3 class="my-4">Resultado da sua busca:</h3>
    <div class="p-3 shadow-sm row">
      <li class="list-group-item d-flex justify-content-between align-items-center col-lg-4 fs-5">
        Nome:
        <span class="badge bg-danger rounded-pill">
          <%= @client.name %>
        </span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center col-lg-4 fs-5">
        CPF/CNPJ:
        <span class="badge bg-danger rounded-pill">
          <%= @client.registration_number %>
        </span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center col-lg-4 fs-5">
        Saldo:
        <span class="badge bg-danger rounded-pill">
          RB <%= @client.balance_rubi %> (<%= number_to_currency(@client.balance_brl) %>)
        </span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center col-lg-4 fs-5">
        Saldo Bônus Restante:
        <span class="badge bg-danger rounded-pill">
          RB <%= @client.balance_bonus%>
        </span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center col-lg-4 fs-5">
        Categoria:
        <span class="badge bg-danger rounded-pill">
          <%= @client.client_category.name %>
        </span>
      </li>
      <hr class="my-4">
      <h3>Movimentações:</h3>
      <% @client.transactions_extract.each do |t| %>
        <% if t.class == Credit%>
          <li class="list-group-item d-flex justify-content-between align-items-center col-lg-12 fs-5">
            <span class="bi box-arrow-down"> Crédito em Conta</span>
            <span class="text-muted">
              <%= t.created_at.localtime.strftime('%d/%m/%Y') %>
            </span>
            <span class="badge bg-success rounded-pill text-center col-lg-2">
              RB <%= t.rubi_amount %> (<%= number_to_currency(t.real_amount) %>)
            </span>
          </li>
        <% else %>
          <li class="list-group-item d-flex justify-content-between align-items-center col-lg-12 fs-5">
            <span class="bi bi-save"> Débito em Conta</span>
            <span class="text-muted ">
              <%= t.created_at.localtime.strftime('%d/%m/%Y') %>
            </span>
            <span class="badge bg-danger rounded-pill text-center col-lg-2">
              RB <%= t.rubi_amount %> (<%= number_to_currency(t.real_amount) %>)
            </span>
          </li>
        <% end %>
      <% end %>
    <% else %>
      <div class="p-3">
        <strong>
          <h3 class="bi bi-x text-center text-muted">Cliente não encontrado</h3>
        </strong>
      </div>
    <% end %>
  <% end %>
