<div class="d-flex justify-content-between">
  <h2>Pedidos Pendentes</h2>
  <div class="links gap-2">
  </div>
</div>
<hr class="my-2">
<p class="text-muted fw-bolder mt-3">Total: <%= @orders.length %></p>
<% if @orders.any? %>
  <table class="table align-middle text-center">
    <thead class="table-light">
      <tr>
        <th>Data de entrada</th>
        <th>Código do Pedido</th>
        <th>Nome do Cliente</th>
        <th>CPF/CNPJ do Cliente</th>
        <th>Valor Total da Transação</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each_with_index do |order, index| %>
        <tr class="pending_order-<%= index %>">
          <td><%= I18n.localize(order.created_at.to_date) %></td>
          <td><%= order.order_code %></td>
          <td><%= order.client.name %></td>
          <td><%= order.client.registration_number %></td>
          <td><%= number_to_currency(order.transaction_total_value) %></td>
          <td>
            <div class="d-flex justify-content-center gap-1">
              <%= button_to 'Aprovar', order_approve_path(order), method: :patch, class: 'btn btn-danger ' %><%= button_to 'Reprovar', order_reject_path(order), method: :patch, class: 'btn btn-dark' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Não existem pedidos pendentes</p>
<% end %>
