<div class="d-flex justify-content-between">
   <h2>Histórico de Cotação</h2>
   <div class="links gap-2">
    <%= link_to 'Taxas pendentes', exchange_rate_approvals_path, class: 'btn btn-outline-danger mb-2' %>
  <%= link_to 'Configurar taxa de câmbio', new_exchange_rate_path, class: 'btn btn-outline-danger mb-2' %>
   </div>
</div>
<hr class="my-2">

<% if @exchange_rates.any? %>
  <table class="table align-middle text-center">
    <thead class="table-light">
      <tr>
        <th>Valor</th>
        <th>Data</th>
        <th>Cadastrada por</th>
      </tr>
    </thead>
    <tbody>
      <% @exchange_rates.each do |er| %>
        <tr>
          <td><%= number_to_currency(er.real) %></td>
          <td><%= er.created_at.localtime.strftime('%d/%m/%Y às %H:%M:%S') %></td>
          <td><%= er.admin.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nenhuma taxa criada</p>
<% end %>
