<% if @exchange_rate.errors.any? %>
  <div>
    <% @exchange_rate.errors.full_messages.each do |m| %>
      <p><%= m %></p>
    <% end %>
  </div>
<% end %>
<%= form_with model: @exchange_rate do |f| %>
  <%= f.label :real, 'Cotação' %>
  <%= f.number_field :real %>
  <%= f.submit 'Enviar' %>
<% end %>
<%= link_to 'Voltar para histórico de cotações', exchange_rates_path %>