<% if @exchange_rate.errors.any? %>
  <div id="error_explanation">
    <ul class="list-group">
      <% @exchange_rate.errors.full_messages.each do |m| %>
        <li class="alert alert-danger mb-2 fs-6 fw-bolder list-unstyled"><%= m %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: @exchange_rate do |f| %>
  <%= f.label :real %>
  <%= f.number_field :real, step: 0.01 %>
  <%= f.submit 'Enviar' %>
<% end %>
<%= link_to 'Voltar para histórico de cotações', exchange_rates_path %>
