<!DOCTYPE html>
<html>
  <head>
    <title>Pagamentos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'styles' %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous" defer></script>
  </head>
  <body class="d-flex flex-column">
    <% if current_admin && admin_signed_in? %>
      <header class="sticky-top shadow-sm">
        <%= render 'shared/nav' %>
      </header>
      <section class="after_header">
        <%= render 'shared/after_header' %>
      </section>
    <% end %>
    <main class="container mb-5">
      <%= render 'shared/home/flash' %>
      <div class="yeld mt-4">
        <%= yield %>
      </div>
    </main>
    <footer class="mt-auto bg-dark">
      <%= render 'shared/footer'%>
    </footer>
  </body>
</html>
