  <!DOCTYPE html>
<html>
  <head>
    <title>Pagamentos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header>
      <nav>
        <%= render 'shared/home/flash' %>
        <% if admin_signed_in? %>
          <p>Olá, <%= current_admin.email %></p>
        <% end %>
        <%= link_to 'Cadastrar-se', new_admin_registration_path %>
      </nav>
    </header>

    <main>
        <h1>Pagamentos</h1>

      <%= yield %>
    </main>

  </body>
</html>
